<header class="container mx-auto px-4">
  <div
    class="flex justify-between rounded my-4 px-6 py-4 bg-emerald-300 drop-shadow"
  >
    <h1 class="text-3xl font-bold">MO</h1>

    <nav class="flex items-center">
      <ul class="list-none flex gap-4 items-center">
        <li class="hover:underline"><a href="/">Kategorija</a></li>
        <li class="hover:underline"><a href="/status">Status</a></li>
      </ul>
    </nav>
  </div>
</header>
