<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mali oglasnik</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="min-h-screen flex flex-col">
    <%- include('header'); -%>

    <main class="container mx-auto px-4 flex-1">
        <h2 class="text-3xl font-bold underline text-center"><%= message; %></h1>

        <ul class="list-none flex flex-col gap-4 items-center">
            <% categories.forEach(function(category){ %>
                <li class="hover:underline"><a href="/">PoÄetna</a></li>
            <% }); %>
        </ul>
    </main>
  </body>
</html>
