<form action="/status" method="post">
  <% if (locals.id) { %>
  <input type="text" name="id" id="id" hidden value="<%= id %>" />
  <% } %>

  <div>
    <label for="price" class="block text-sm font-medium text-gray-700">
      Naziv
    </label>
    <input
      type="text"
      name="naziv"
      id="naziv"
      class="mt-1 rounded shadow block w-full px-3"
      value="<% if (locals.naziv) { %><%= naziv %><% } %>"
    />
  </div>

  <div class="flex justify-center mt-4 gap-4">
    <a
      href="."
      class="inline-flex justify-center rounded border border-emerald-700 shadow p-4 py-2 text-sm font-medium text-emerald-700 hover:bg-emerald-700/20"
    >
      Odustani
    </a>

    <button
      type="submit"
      class="inline-flex justify-center rounded border border-transparent shadow p-4 py-2 bg-emerald-700 text-sm font-medium text-white hover:bg-emerald-900"
    >
      <% if (locals.id) { %> Uredi <% } else { %> Dodaj <% } %>
    </button>
  </div>
</form>
